@page
@model BookListRazor.Pages.BookList.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-10">
        <h2 class="" style="color: #DC8F23">Book List</h2>
    </div>
    <div class="col-2">
        <a asp-page="Create" class="btn btn-info form-control">Adicionar Livro</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Titulo"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Autor)*@
                            <label asp-for="Books.FirstOrDefault().Autor"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>                        
                    </tr>
                    @foreach(var item in Model.Books)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ISBN)
                    </td>
                    <td>
                        <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Você tem certeza que deseja deletar este livro?')" class="btn btn-info btn-sm">Delete</button>
                        <button class="btn btn-info btn-sm"><a asp-page="Edit" asp-route-id="@item.Id" class=" btn-info">Edit</a></button>

                    </td>
                </tr>
                    }
                </table>
            }
            else
            {
                <p>No books yet.</p>
            }
        </form>
    </div>

    @*<div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>ISBN</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>*@
</div>
@section Scripts{ 
    <script src="~/js/bookList.js"></script>
}

